<mat-accordion>
    <ng-container *ngFor="let entry of results">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ entry.Pokemon }}
                </mat-panel-title>
                <mat-panel-description>
                    {{ entry.Types }}
                </mat-panel-description>
            </mat-expansion-panel-header>
            <button mat-raised-button class="remove-button" color="primary" (click)="removeEntry(entry)"> Remove</button>

            <table mat-table [dataSource]="entry.tableData" >
                <ng-container matColumnDef="Stat">
                    <th mat-header-cell *matHeaderCellDef> Stat</th>
                    <td mat-cell *matCellDef="let element"> {{ element.Stat }}</td>
                </ng-container>

                <ng-container matColumnDef="EV">
                    <th mat-header-cell *matHeaderCellDef> EV</th>
                    <td mat-cell *matCellDef="let element"> {{ element['EV'] }}</td>
                </ng-container>
                <ng-container matColumnDef="Move/Item/Nature">
                    <th mat-header-cell *matHeaderCellDef> Move/Item/Nature
                    </th>
                    <td mat-cell *matCellDef="let element"> {{ element['Move/Item/Nature'] }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </mat-expansion-panel>

    </ng-container>
</mat-accordion>