<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                What is this?
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        Welcome to the Platinum Factory Project. It will consist of a few different applications and stems from my love of Pokemon Platinum Battle Factory.
        This goal of this project is to help people improve their win rate in Battle Factory and ultimately get the Gold Print. 
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Entry Filter Application
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        The first project will be a filter on entry data. Each pokemon in Battle Factory has specific moves and EVs. Given the limited data you know about the opponent's pokemon, this application 
        will help give a list of potential pokemon you are facing with their complete data. 
    </mat-expansion-panel> 
    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>
            Future Projects
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
        In future projects, there may also be recommended counters, most common moves, 
    </mat-expansion-panel>
</mat-accordion>

